__pycache__/
*.py[cod]
*$py.class
*.json
*.svg
*.pdf
*.mp4
*.odg
*.png
*.xcf
*.npy
*.npz
!amplitudes.npz
!phases.npz
*.zip
*.xoj
*.swp
.idea
*.npz
phase_retriever.egg-info/
*.egg

 # test files
!testRad_*